<div>
    <nav id="navbar">
        <img src="../images/side_icon.png" id="side-icon">
        <h3>CheapoMail</h3>

        <a href="index.php"><img src="../images/logout.png" id="logout"></a>
        <img src="../images/setting_icon.png" id="settings">
    </nav>
    <div id="mail-banner">
        <img src="../images/compose.png" id="compose"> <span>Compose</span>
    </div>

    <div id="send-mail">
        <img src="../images/sendmail.png" id="send"><span>Send</span>
        <img src="../images/close.png" id="close">
    </div>

    <section id="mails">
        <h2>Mail Inbox</h2>
        <div class="mail-info">
            <p class="sender">Michael Calloo</p>
            <p class="date">1/29/2014</p>
            <p class="title">Getting started with your mail account</p>

        </div>
    </section>

    <div id="mail-composer">
        <form id="message">
            <label>From</label>
            <input type="text" value="michael.ma.calloo@gmail.com" name="sender" id="sender" disabled><br>
            <label>To</label>
            <input type="text" name="receiver" id="receiver"><br>
            <input type="text" placeholder="Add a subject" name="subject" id="subject-input"><br><br>

            <textarea placeholder="Add a message here" name="message"></textarea><br><br>

            <input type="submit" value="Send" id="submit-btn">
        </form>
    </div>

</div>