<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CheapoMail</title>
    <link rel="stylesheet" href="../static/login.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <div class="loginBox">
        <img src="../images/login_icon.png" class="user">
        <h2>CheapoMail</h2>
        <form action="home.php">
            <label>Username</label><br>
            <input type="text" name="user" placeholder="Enter username"><br>

            <label>Password</label><br>
            <input type="password" name="password" placeholder="••••••••••••••"><br>

            <input type="submit" value="Sign In" id="sign-in"><br>

        </form>
    </div>

</body>
</html>